<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- application.yml 설정 값 사용 -->
    <springProfile>
        <property resource="application.yml" />
    </springProfile>
    <springProperty name="LOG_PATH" source= "logging.file.path" />
    <springProperty name="LOG_NAME" source= "logging.file.name" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!-- 서버 실행 시 최초 생성 파일 -->
<!--        <file>${LOG_PATH}/${LOG_NAME}_init.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 일자별로 로그 분할 -->
<!--            <fileNamePattern>${LOG_PATH}/%d{yyyyMMdd-HHmm}/${LOG_NAME}.log</fileNamePattern>-->
<!--            <fileNamePattern>${LOG_PATH}/%d{yyyyMMdd}/${LOG_NAME}_%d{HH}.log</fileNamePattern>-->
            <fileNamePattern>${LOG_PATH}/%d{yyyyMMdd}/${LOG_NAME}.log</fileNamePattern>
            <maxHistory>90</maxHistory> <!-- 30일 보관 -->
            <totalSizeCap>500MB</totalSizeCap> <!-- 최대 용량 -->
            <maxHistory>100</maxHistory> <!-- 보관할 파일 수 -->
        </rollingPolicy>

        <!-- 로그 출력 포맷 -->
        <!-- relative : 로그파일의 첫 번째 로깅 이벤트 부터 경과한 시간 ms -->
        <!-- thread : 발생한 스레드 -->
        <!-- level : log level -->
        <!-- logger : 이벤트가 발생한 logger => private final Logger logger = LoggerFactory.getLogger(this.getClass().getSimpleName()); -->
        <encoder>
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <!-- MDC 정보 포함 - 실행 중인 스테르, 관련 컨텍스트 정보 추가-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, [%thread], %-5level, %logger{36}, [%X{requestId}], [%X{clientIp}], [%X{deviceType}], [%X{sessionId}], [%X{deviceId}], [%X{appVersion}], [%X{userAgent}], [%X{method}], - %msg%n</pattern>
        </encoder>
    </appender>

<!-- 로그 내용을 선별 가능 : name=LoggingInterceptor 내용이 포함된 부분만 저장 -->
<!--    <logger name="LoggingInterceptor" additivity="false">-->
<!--        <level value = "INFO" />-->
<!--        <appender-ref ref="FILE" />-->
<!--    </logger>-->

<!-- root logger : 전체 app 에서 사용하는 기본 로거 -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>